:root {
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 20px;
}

h1 {
    color: darkblue;
    margin-bottom: 25px;
}

main img {
    width: 150px;
    height: auto;
    border: solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 10px 15px;
}

p {
    padding: 0;
    line-height: 1.4;
}

main {
    max-width: 840px;
    margin: 30px auto;
    text-align: center;
}

ul {
    text-align: left;
    margin-top: 15px;
    margin-left: 25px;
    clear: right;
    margin-bottom: 40px;
}

li {
    padding-left: 5px;
}

aside {
    width: 30rem;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 525px;
    left: 592px;
}

aside img {
    width: 200px;
    height: auto;
    border: solid black;
    box-shadow: 0 0 50px black;
}

footer {
    margin-top: 45px;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */

.box {
    width: 30rem;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: lightgray;
    color: black;
}